/* CSS Styles for Film Information */
h2 {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

p {
    background-color: #f5f5f5;
    padding: 5px;
    border: 1px solid #ccc;
    margin: 5px;
}

/* Style for the Actor Information section */
h2.actor-info {
    background-color: #007bff; /* Blue color */
}

/* Style for the Films Information section */
h3.film-info {
    background-color: #28a745; /* Green color */
}

/* Style for Film Title */
h2.film-title {
    background-color: #ffc107; /* Yellow color */
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    margin-top: 20px; /* Add some spacing between film details */
}
